.firstScreen {
  height: 614px;
  margin: 28px auto;
}

.firstScreenWrapper {
  position: relative;
  display: flex;
  gap: 48px;
}

.firstScreen_img {
  width: 410px;
}

.firstScreen_info {
  width: 420px;
}

.firstScreen_info__title {
  font-size: 36px;
  line-height: 40px;
}

.metaInfo {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.metaInfo ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.metaInfo_details {
  display: inline-flex;
  gap: 8px;
  color: #ffffffb8;
  font-size: 15px;
  line-height: 20px;
  text-decoration-style: solid;
}

.metaInfo_details__rating {
  color: #73a32f;
  font-weight: 700;
}

.metaInfo_synopsis {
  margin-top: 16px;
  font-size: 15px;
  line-height: 20px;
}

.metaInfo_monetization {
  position: relative;
}

.metaInfo_buttons {
  display: flex;
  gap: 0 8px;
  margin-top: 20px;
}

.noteText {
  position: absolute;
  left: 0;
  margin-top: 8px;
  font-size: 13px;
  line-height: 16px;
}

.moreDetails {
  margin-top: 34px;
}

.moreDetails_title {
  margin-top: 14px;
  margin-bottom: 12px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
}

.moreDetails_list {
  font-size: 13px;
  line-height: 21px;
}

.moreDetails_list li {
  /* display: inline-block; */
  transition: color 0.2s ease-out 0s;
}

.moreDetails_list li:hover {
  color: #f30745;
  cursor: pointer;
}
