.footer__content {
  width: var(--content-width);
  min-height: 100px;
  margin-right: auto;
  margin-left: auto;
  padding: 48px 0;
}

.footer__content_border {
  border-top: 1px solid hsla(0, 0%, 100%, 0.16);
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.16);
}
