.main {
  padding-top: 60px;
  overflow: hidden;
  background-color: var(--bg-color);
}

.main__content {
  width: var(--content-width);
  min-height: 348px;
  margin-right: auto;
  margin-left: auto;
}
