.main {
  background-color: var(--bg-color);
  padding-top: 60px;
}

.main__content {
  width: var(--content-width);
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
}
