.buySubscription {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 288px;
  height: 48px;
  border-radius: 16px;
  padding: 2px 4px;
  text-align: center;
  background-color: #f30745;
  cursor: pointer;
}

.buySubscription:hover {
  background-color: #f9255d;
  transition-duration: 80ms;
}

.buySubscription_primaryText {
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  font-style: normal;
  line-height: 20px;
}

.buySubscription_secondaryText {
  color: hsla(0, 0%, 100%, 0.72);
  font-weight: 400;
  font-size: 13px;
  font-style: normal;
  line-height: 16px;
  white-space: nowrap;
}
