.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: none;
  border-radius: 12px;
  padding: 9px 15px;
  color: var(--color-main, #fff);
  background-color: var(--bg-color-ui, #1f1b2e);
}

.button:hover {
  background-color: var(--bg-color-ui-hover, #2e2844);
}

.round {
  border-radius: 50%;
  padding: 9px;
  aspect-ratio: 1;
}

.square {
  padding: 9px;
  aspect-ratio: 1;
}
