/* working styles */
.firstScreen {
  height: 614px; /*  change */
}

.firstScreenWrapper {
  position: relative;
  display: flex;

  gap: 48px;
}

.firstScreen_img {
  width: 500px;
}

.firstScreen_info {
  width: 420px;
}

.firstScreen_info__title {
  font-size: 36px;
  line-height: 40px;
}

.metaInfo {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.metaInfo ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.metaInfo_details {
  display: inline-flex;
  gap: 8px;
  font-size: 15px;
  line-height: 20px;
  text-decoration-style: solid;
  color: #ffffffb8;
}

.metaInfo_details__rating {
  color: #73a32f;
  font-weight: 700;
}

.metaInfo_genres {
  margin-top: 8px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 8px;

  overflow: hidden;
}

.metaInfo_genres__items {
  display: inline-flex;
  padding: 2px 6px;
  background-color: hsla(0, 0%, 100%, 0.16);
  backdrop-filter: blur(0);
  align-items: center;
  border-radius: 4px;
}

.metaInfo_genres__items > span {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 0;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.metaInfo_synopsis {
  margin-top: 16px;
  font-size: 15px;
  line-height: 20px;
}

.metaInfo_monetization {
  position: relative;
}

.metaInfo_buttons {
  margin-top: 20px;
  display: flex;
  gap: 0 8px;
}

.buySubscription {
  background-color: #f30745;
  text-align: center;
  border-radius: 16px;
  height: 48px;
  width: 288px;
  padding: 2px 4px;

  display: inline-flex;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
}

.buySubscription:hover {
  background-color: #f9255d;
  transition-duration: 80ms;
}

.buySubscription_primaryText {
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.buySubscription_secondaryText {
  color: hsla(0, 0%, 100%, 0.72);
  white-space: nowrap;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.iconWrapper {
  background-color: hsla(0, 0%, 100%, 0.08);
  height: 48px;
  border-radius: 16px;
  padding: 13px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconWrapper:hover {
  background-color: rgba(255, 255, 255, 0.16);
  cursor: pointer;
}

.noteText {
  position: absolute;
  margin-top: 8px;
  font-size: 13px;
  line-height: 16px;
  left: 0;
}

.moreDetails {
  margin-top: 28px;
}

.moreDetails_title {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}

.moreDetails_list {
  font-size: 13px;
  line-height: 21px;
}

.moreDetails_list li {
  /* display: inline-block; */
  transition: color 0.2s ease-out 0s;
}

.moreDetails_list li:hover {
  color: #f30745;
  cursor: pointer;
}
