<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.module.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- import { FavoriteIcon, ShareIcon } from '@/app/assets/images'; -->
    <header></header>
    <section class="firstScreen">
      <div class="firstScreenWrapper">
        <img
          class="firstScreen_img"
          src="/public/moviePoster.jpg"
          alt="poster for movie"
        />
        <div class="firstScreen_info">
          <h1>Министерство неджентльменских дел</h1>
          <section class="metaInfo">
            <ul class="metaInfo_details">
              <li class="metaInfo_details__rating">8.1</li>
              <li class="metaInfo_details__releaseYear">2024</li>
              <li class="metaInfo_details__duration">124 мин.</li>
              <li class="metaInfo_details__isAdult">18+</li>
            </ul>
            <div class="metaInfo_genres">
              <div class="metaInfo_genres__items"><span>США</span></div>
              <div class="metaInfo_genres__items"><span>Боевики</span></div>
              <div class="metaInfo_genres__items"><span>Драмы</span></div>
              <div class="metaInfo_genres__items"><span>Военные</span></div>
            </div>
            <div class="metaInfo_synopsis">
              Отряд дерзких смельчаков идёт на невыполнимую миссию против
              нацистов. Комедийный боевик Гая Ричи.
            </div>
            <div class="metaInfo_monetization">
              <div class="metaInfo_buttons">
                <div class="buySubscription">
                  <span class="buySubscription_primaryText">Смотреть </span>
                  <span class="buySubscription_secondaryText"
                    >по подписке Иви</span
                  >
                </div>
                <div class="favorite">
                  <div class="iconWrapper">
                    <span>Fv</span>
                  </div>
                </div>
                <div class="share">
                  <div class="iconWrapper">
                    <span>Sh</span>
                  </div>
                </div>
              </div>
              <div class="noteText">
                <span>Первые 30 дней бесплатно</span>
              </div>
            </div>
            <div class="moreDetails">
              <h3 class="moreDetails_title">Режиссер</h3>
              <ul class="moreDetails_list">
                <li>Шон Бэйкер</li>
              </ul>
              <h3 class="moreDetails_title">В главных ролях</h3>
              <ul class="moreDetails_list">
                <li>Майки Мэдисон</li>
                <li>Марк Эйдельштейн</li>
                <li>Юра Борисов</li>
              </ul>
            </div>
          </section>
        </div>
        <div class="firstScreen_moreInfo"></div>
      </div>
    </section>
  </body>
</html>
