.cardsContainer {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.title {
  min-height: 52px;
  padding-bottom: 14px;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 156px;
  min-width: 0;
  margin-right: 16px;
}

.embla__prev {
  position: absolute;
  top: 50%;
  left: -32px;
  opacity: 0.74;
  transition: opacity 0.2s ease-out;
  cursor: pointer;
}

.embla__next {
  position: absolute;
  top: 50%;
  right: -32px;
  opacity: 0.74;
  transition: opacity 0.2s ease-out;
  cursor: pointer;
}

.embla__prev:hover,
.embla__next:hover {
  opacity: 1;
}
