.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
}

.info_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  white-space: pre-line;
}

.button_group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.button_group_wrap {
  display: flex;
  gap: 12px;
}

.chat_button__text {
  padding: 0 25px;
}

.info__article__header {
  transition-duration: var(--animation-duration-hover-out, 0.4s);
}

.info__article__header:hover {
  color: hsla(0, 0%, 100%, 0.72);
  transition-duration: var(--animation-duration-hover-in, 80ms);
}

.promo_widget {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 104px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 104px #a869f0;
  background-color: #834cc2;
  transition: var(--animation-duration-hover-out, 0.4s);
  aspect-ratio: 1;
}

.promo_widget:hover {
  box-shadow: 0 0 104px #ea003d;
  background-color: #f30745;
  transition: var(--animation-duration-hover-in, 80ms);
}
