:root {
  --content-width: 1260px;

  --font-size-xs: 10px;
  --font-size-s: 13px;
  --font-size-m: 15px;
  --font-size-l: 24px;
  --font-size-xl: 56px;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --accent-color: #f30745;
  --color-main: #fff;
  --color-pale: hsla(0, 0%, 100%, 0.48);
  --color-medium: #d9d7e0;
  --color-accent: var(--accent-color);
  --color-gradient-main: linear-gradient(-135deg, #c447ff, #ea003d);
  --color-gradient-reverse: linear-gradient(-45deg, #c447ff, #ea003d);
  --bg-color: #100e19;
  --bg-color-interface: #1f1b2e;
  --bg-color-interface-second: #312b45;

  color: var(--color-main);

  font-family: 'IviSans', Arial, Helvetica, sans-serif;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-m);
  text-rendering: optimizeLegibility;
  background-color: var(--bg-color);
  color-scheme: dark light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-synthesis: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  color: var(--color-main, #fff);
  font-weight: 700;
  font-size: var(--font-size-xl, 56px);
}

h2 {
  color: var(--color-main, #fff);
  font-weight: 700;
  font-size: var(--font-size-l, 24px);
}

h3 {
  color: var(--color-main, #fff);
  font-weight: 700;
  font-size: var(--font-size-m, 15px);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
}

button {
  padding: 0;
}

a {
  color: var(--color-pale, hsla(0, 0%, 100%, 0.48));
  text-decoration: none;
}

a:hover {
  color: var(--color-main, #fff);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  clip-path: inset(100%);
}

.special_button {
  background-image: var(
    --color-gradient-main,
    linear-gradient(-135deg, #c447ff, #ea003d)
  );
}

.special_text {
  color: transparent;
  background-color: #f30745;
  background-image: var(
    --color-gradient-reverse,
    linear-gradient(-45deg, #c447ff, #ea003d)
  );
  -webkit-background-clip: text;
  background-clip: text;
}
