.link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 12px;
  padding: 9px 15px;
  color: var(--color-main, #fff);
  font-weight: 500;
  background-color: var(--color-accent, #f30745);
}

.link:hover {
  background-color: #f9255d;
}
