.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.container__block {
  display: flex;
  align-items: center;
  gap: 12px;
}

.copyright {
  color: var(--color-pale, hsla(0, 0%, 100%, 0.48));
  white-space: pre-line;
}

.socials__image {
  width: 16px;
  aspect-ratio: 1;
}
