* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 1340px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.title {
  margin-bottom: 20px;
  margin-left: 46px;
  font-size: 24px;
  cursor: pointer;
}
.slider {
  display: flex;
  align-items: center;
}
.prev,
.next {
  top: 46%;
  border: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 40px;
  background-color: transparent;
  transform: translateY(-50%);
  cursor: pointer;
}
.sliderWrapper {
  overflow: hidden;
}
.sliderMove {
  display: flex;
  flex-direction: row;
  gap: 28px;
  padding: 6px;
  transition: transform 0.5s ease;
  transition: transform 0.3s ease-in-out;
}
