.container {
  display: flex;
  justify-content: center;
  gap: 38px;
  margin: 40px 0;
}

.qr {
  display: flex;
  gap: 28px;
}

.qr__phone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 192px;
  height: 192px;
  background: center / cover no-repeat
    url('/src/app/assets/images/png/phone.png');
}

.qr__code {
  width: 136px;
  height: 136px;
  border-radius: 12px;
}

.qr__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  max-width: 205px;
  color: var(--color-medium, #d9d7e0);
}

.qr__title {
  color: var(--color-medium, #d9d7e0);
}

.qr__text {
  color: var(--color-medium, #d9d7e0);
  font-weight: 400;
}

.separator {
  position: relative;
  margin: 0 13px;
  border-left: 1px solid #312b45;
  color: #7e798f;
}

.separator::after {
  content: 'или';
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px 0;
  background-color: var(--bg-color);
  translate: -50% -50%;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.button__add_devices {
  display: flex;
  gap: 6px;
}
